<nav class="navbar bg-body-tertiary ">
    <form >
      <div class="container-fluid justify-content-center" >

        <h2 class="heading2">Hi <%= username%></h2>
      </div>
    </form>
    <a href="/logout" class="btn btn-danger btn-lg justify-content-end me-3">Sign out</a>
  </nav>