 body{
    height: 100%;
    width: 100%;

 }  
 .logindiv h1{
    text-align: center ;

 }
 .invis {
   
  backdrop-filter: blur(5px);
  border-radius: 20px;
  padding: 3rem;
 }
 .login-img{
    background-image: url('./image/martin-katler-PVDiZlqVxWQ-unsplash.jpg');
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            color: white;
            

 }
   
.home-img{

   
    height: 100vh;
    text-align: center; 
     align-items: center; 
     justify-content: center;

    
}        
/* .home-img .navbar{
    background-color: rgb(210, 210, 211);
}  */
/* .abc
{
   background-image: url('/public/image/pexels-veeterzy-303383.jpg');
   /* background-color: black; */
   /* width:100%;
   height: 100%;
} */
body{
   background-image: url(./image/2nd.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   height: 100%;
   width: 100%;
}
.heading
{
   background: -webkit-linear-gradient( rgb(3, 42, 3),#eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.heading2
{
   color: rgb(71, 104, 174);
}
.login{

color: white;
}
.label
{
   color: rgb(119, 127, 241);
}
.form-label
{
   color: rgb(119, 127, 241);
}
.form-control
{
   color:blue;
}
.btn{
   border-radius: 50%;
}

form label{
   color: white !important;
}
